<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body class="p-5">
<div id="app">
    <input type="text" v-model="ad" class="form-control">
    <input type="text" class="form-control" v-model="soyad">
    <p> {{adSoyad}} </p>
</div>

<script src="../assets/js/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        name: 'Vue Demolar',
        data: {
            ad:'ali',
            soyad:'veli'
        },
        computed: {
            adSoyad(){
                return this.ad + ' ' + this.soyad;
            }
        }
    })
</script>
</body>
</html>