<!DOCTYPE html>
<html lang="tr">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css-lib/fi.css" rel="stylesheet">
    </head>
    <body>
        <div class="fi-bg-greenyellow fi-lay-relative fi-height-400" id="parent">div1:relative h:400
            <div class="fi-bg-yellow fi-height-100 fi-lay-absolute " style="right:0px;bottom: 0px;z-index: 99;">div1-child <br> absolute:right:0,bottom:0 <br>z:99</div>
        </div>
        <div class="fi-bg-red">
            Diger<br>Yazı ile
        </div>
    </body>
</html>