<!DOCTYPE html>
<html lang="tr">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css-lib/general-style.css" rel="stylesheet">
    </head>
    <body>
    
        <div class="fi-bg-greenyellow fi-lay-relative fi-height-400" id="parent">div1:relative h:400
            <div class="fi-bg-yellow fi-height-100 fi-lay-absolute" style="top:400px;left:10px;z-index: 9999;">div1-child:absolute:top100-left10 h:100 z:9999</div>
        </div>
        <div class="fi-bg-red">
            Diger<br>Yazı ile
        </div>
    </body>
</html>