<!DOCTYPE html>
<html lang="tr">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css-lib/general-style.css" rel="stylesheet">
    <link rel="stylesheet" href="../css-lib/base.css">
</head>
<style>

</style>
<body>

<div style="display: flex;flex-wrap: wrap;">
    <div class="fi-box-200-200">1</div>
    <div class="fi-box-100-100">2</div>
    <div class="fi-box-100-100">3</div>
    <div class="fi-box-200-200">4</div>
    <div class="fi-box-200-200">5</div>
</div>

</body>

</html>