.fi-box-border {
    box-sizing: border-box;
}

.fi-box-content {
    box-sizing: content-box;
}

.fi-flex {
    display: flex;
}

.fi-flex-justifycontent-center {
    justify-content: center;
}

.fi-flex-alignitems-center {
    align-items: center;
}

.fi-border-dashed{
    border: #000 1px dashed;
}


.fi-bg-yellow{
    background-color: yellow;
}

.fi-bg-greenyellow{
    background-color: greenyellow;
}

.fi-bg-red{
    background-color: red;
}

.fi-bg-dodger{
    background-color: dodgerblue;
}

.fi-bg-lightskyblue{
    background-color: lightskyblue;
}

.fi-border-half{
    border: 0.5px solid;
}

.fi-border-1{
    border: 1px solid;
}

.fi-lay-relative {
    position: relative;
}

.fi-lay-absolute {
    position: absolute;
}

.fi-height-200 {
    height: 200px;
}

.fi-height-100 {
    height: 100px;
}

.fi-height-400 {
    height: 400px;
}

.fi-width-200 {
    width: 200px;
}

.fi-width-300 {
    width: 300px;
}

.fi-width-400 {
    width: 400px;
}

.fi-width-600 {
    width: 600px;
}

.fi-in-block {
    display: inline-block;
}

.fi-height-300 {
    height: 300px;
}

.fi-height-97vh {
    height: 97vh;
}



.fi-pos-fixed {
    position: fixed;
}

.fi-box-100-100 {
    width: 100px;
    height: 100px;
    background-color: #afd9ee;
    border: 1px solid;
}

.fi-box-200-200 {
    width: 200px;
    height: 200px;
    background-color: #0A6187;
    border: 1px solid;
}

